
<div class="container">
	<div class="justify-content-center h-100">
<div class="table-responsive-xl">
  <table class="table">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.userList?.data" >
        <th scope="row">{{item.id}}</th>
        <td>{{item.first_name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
      </tr>

    </tbody>
  </table>
  <nav aria-label="Page navigation example" *ngIf="this.userList?.total>this.userList?.to">
    <ul class="pagination">
      <li class="page-item" *ngIf="this.userList?.current_page!=1"><a class="page-link" href="javascript:void(0)" (click)="this.getRecords(this.userList.current_page-1)">Previous</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)" (click)="this.getRecords(this.userList.current_page)">{{this.userList.current_page}}</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0)" (click)="this.getRecords(this.userList.current_page+1)">Next</a></li>
    </ul>
  </nav>
</div>
</div>
</div>
